:root {
    --hover-color: #2196f3;
    --decor-color: #2196f3;
    --white-color: #fff;
    --bg-color: #f5f4fa;
    --title-color: #212121;
    --nav-color: #212121;
    --text-color: #757575;
    --contact-color: #757575;
    --footer-bg-color: #2f303a;
    --border-color: #eeeeee;
    --border-bottom: #ececec;
    --grey_06: rgba(255, 255, 255, 0.6);
}
body{
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.03m;
}
section{
    padding:94px 0 ;

}
address {
    font-style: normal;
}
button {
    font-family: inherit;
    border-radius: 4px;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: none;
}
button,
button:active,
button:focus {
    outline: none;
}
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: none;
}

h2,
h3 {

    font-weight: 700;
    color: var(--title-color);
    letter-spacing: 0.06em;
}
a {
    text-decoration: none;
}
p {
    color:var(--text-color) ;
}
ul,
ol
 {
    list-style-type:none;
}
img {
    display: block;
}
.cont {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.logo-decor{
    color: var(--decor-color);



}
/*head*/
.cap{
    border-bottom: 1px solid var(--border-bottom);
}
.cap-nav-link{
    display: block;
    padding: 32px 0;
    color:var(--nav-color);
    margin-right:50px ;
}
.cap-contact {
    display: block;
    padding: 32px 0;
    color:var(--nav-color);
    margin-left: 50px;
}
.cap-nav-link:hover,
.cap-contact:hover {
    color: var(--hover-color);
}.cap-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cap-nav {
    display: flex;
    align-items: center;
}
.cap-nav-list {
    display: flex;
}
.cap-contacts {
    display: flex;
}
.cap-logo {
    font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--nav-color);
  margin-right: 93px;

}
.cap-contacts,
.cap-nav-list{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;


}
.cap-nav-link{
    color: var(--nav-color);

}
.cap-contact {
    color: var(--contact-color);
}
.cap-nav-list:not(:last-child),
.cap-contacts:not(:last-child) {

    margin-right: 50px;
}
.current {
color: var(--hover-color);
}
/*------*/


/*main*/
.main-sect {
    background-color: var(--footer-bg-color);
    padding: 200px 0;
    text-align: center;

}
.main-sect-title-main{
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 30px;


}
.buy-serv{
    font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  background-color: var(--decor-color);
  color: var(--white-color);
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
}
.buy-serv:hover,
.buy-serv:focus {

    background-color: var(--hover-color);
    color: var(--white-color);
    outline: none;  
}
/*----*/

/*featurs*/
.featurs{
    padding-bottom: 0;
}
.vissually-hidden{

    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;


    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}
.featurs-list{
    display: flex;
}
.featurs-list-item{
    width: calc((100% - 30px * 3) / 4);

}
.featurs-list-item:not(:last-child) {
    margin-right: 30px;
    
}
.featurs-title {
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 10px;

}
.featurs-text{
    font-size: 14px;
    line-height: 1.7;
}
.we-do-title,
.team-title{
    font-size: 36px;
    line-height: 1.2


}
/*----*/

/*we do*/
.we-do-cont
{
    text-align: center;

}
.we-do-title{

    margin-bottom: 50px;  
}
.we-do-list{
    display: flex;
}
.we-do-list-item:not(:last-child) {
    margin-right: 30px;
    display: block;
}
/*----*/

/*our team*/
.team {
    background-color: var(--bg-color);
}
.team-cont{
    text-align: center;


}
.team-title{
    margin-bottom: 50px;

}
.team-list{
    display: flex;

}
.team-list-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
  width: 270px;
}
.team-list-item:not(:last-child){
    margin-right: 30px;
}
.team-name{
    padding: 30px 20px 20px;
}
.team-title-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  .team-text {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 30px;
}
/*----*/

/*footer*/
.footer {
    background-color: var(--footer-bg-color);
    padding: 60px 0;
  }
  .footer-logo-logo{
    margin-bottom: 20px;
    color: var(--white-color);
    display: inline-block; 
    font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  }
.footer-text-adress{
    font-size: 14px;
  line-height: 1.7;
  color: var(--white-color); 
}
.footer-contact {
    font-size: 14px;
    line-height: 1.7;
    color: var(--grey_06);
  }
  .footer-contacts {
    margin-top: 9px;
}
.footer__item:not(:last-child) {
    margin-bottom: 9px;
}
/*----*/

/*Portfolio*/
.port-list-filt{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.port-list-filt-item:not(:last-child){

    margin-right: 8px;

}
.port-filt-link{
    font-weight: 500;
  padding: 6px 22px;
  font-size: 16px;
  line-height: 1.6;
  background: var(--bg-color);
  border-radius: 4px;
}
.port-filt-link:focus,
.port-filt-link:hover{
 color: var(--white-color);
    background-color: var(--hover-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
}
.port-img{
    width: 100%;

}
.port-pro-list{
    display: flex;
    flex-wrap: wrap;

}
.port-pro{
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);

}
.port-pro:nth-child(3n+3) {

    margin-right: 0;
}
.port-pro:nth-child(-n+3) {

    margin-bottom:0 ;
}
.port-title{
    font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;


}
.port-title-sub{

    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
}.port-name-pro{
    padding: 20px 24px;

}


